Button{
  background-color: #CB1D00;
}

.pyramidrow{
   width:100%;
}

.pyramidlabel{
   display: inline-block;
   text-align:left;
}

.pyramidbar{
  text-align:center; 
  height: 30pt;
}

.onsight{padding:0pt;  color: "black";}
.flash{padding:0pt; color: "orange";}
.redpoint{padding:0pt; color: "red";}


.row {
  width: 100%;
  text-align:left; 
  margin: 0 auto;
}
.block {
  width: 20%;
  height: 30pt;
  border: 1px solid black;
}