<page-router-outlet></page-router-outlet>
<StackLayout>
    <Button text="List" (tap)="onList()" class="btn btn-primary btn-active"></Button>
    <Button text="Pyramid" (tap)="onPyramid()" class="btn btn-primary btn-active"></Button>
    <Button text="Map" (tap)="onMap()" class="btn btn-primary btn-active"></Button>    
</StackLayout>
