<ActionBar title="Ascent List"></ActionBar>
<GridLayout>
  <ListView [items]="theData.getRoutes()" class="small-spacing">
    <template let-item="item">
        <StackLayout orientation="horizontal" class="small-spacing">
            <Label class="block" [text]="item.name"></Label>
            <Label class="block" [text]="item.crag"></Label>
            <Label class="block" [text]="item.grade"></Label>
            <Label class="block" [text]="item.date"></Label>
            <Label class="block" [text]="item.style"></Label>
        </StackLayout>      
    </template>
  </ListView>
</GridLayout>

