<ActionBar title="Map"></ActionBar>
<GridLayout (loaded)="onMapReadyAlfredo" width="100%" height="80%" backgroundColor="lightgray" >
    <TnsGoogleMaps liteMode="true" row="0" id="map" latitude="41.422134" longitude="2.095642"
                i-padding="50,50,50,50" padding="50" 
                mapLoaded="onMapReady()">
    </TnsGoogleMaps>
</GridLayout>