<ActionBar title="Grade Pyramid"></ActionBar>
<GridLayout>
  <ListView [items]="theData.getGrades()" width="100%">
    <template let-item="item">
    <GridLayout orientation="horizontal" width="100%">
      <label class="pyramidlabel" [text]="item.grade" col="0"></label>
      <DockLayout class="pyramidbar" [width]="item.totalGradePercent" col="1">
        <Label class="redpoint" [width]='item.redpointPercent'backgroundColor="red"></Label>
        <Label class="onsight" [width]="item.onsightPercent" backgroundColor="black"></Label>
        <Label class="flash" [width]="item.flashPercent" backgroundColor="orange"></Label>
      </DockLayout>
    </GridLayout>  
    </template>
  </ListView>
</GridLayout>